// event theme colors
$red :#d32f2f;
$pink:#C2185B;
$purple:#7B1FA2;
$deep-purple:#512DA8;
$indigo:#303F9F;
$light-blue:#0288D1;
$Blue:#1976D2 ;
$cyan:#0097A7 ;
$Teal:#00796B ;
$Green:#388E3C;
$Yellow:#FFA000;
$Orange:#E64A19;
$Brown:#5D4037;
$Grey:#9E9E9E;
$Black:#263238;